
html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background: url(Images/backgroundgent.jpeg);
    background-size: cover;
    background-color: #004879;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0px;
    padding-bottom: 10px;
} 

#demobox {
    background-color: whitesmoke;
    align-content: center;
    padding: 40px;
    display: flex;
    justify-content: center;
}
#profiles {
    align-content: center;
    padding: 70px;
}

#Milestones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px 0px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
  }
  
  footer a {
    color: #fff;
  }